body {
    background-color: black;
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 20px lightblue;
}
.card-title {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    border: 1px lightblue;
}
.available {
    background-color: gray;
    color: yellow;
    display: flex;
    justify-content: center;
    margin: 0px;
}
.card {
    background-color: lightblue;
}
p {
    display: flex;
    justify-content: flex-start;
}