body {
    background-color: black;
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
    border: 20px lightblue;
}
.card-title {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    border: 1px lightblue;
}
.available {
    background-color: darkgreen;
    color: white;
    display: flex;
    justify-content: center;
}
.card {
    background-color: lightblue;
}